@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Registration</h1>
    <p class="lead"> You can register your product purchases here.</p>
    <p><a href="~/Home/Register" class="btn btn-primary btn-lg">Register &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Registration</h2>
        <p>
            Online registration form helps you to register you commands, purchases and delivery
        </p>
        <p><a class="btn btn-default" href="~/Home/Register">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Display Data</h2>
        <p>Data entered during registration are displayed creatively here</p>
        <p><a class="btn btn-default" href="~/Home/Display">Display &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Last Deliveries</h2>
        <p>You can check last deliveries.</p>
        <p><a class="btn btn-default" href="~/Home/Search">Learn more &raquo;</a></p>
    </div>
</div>